* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: slateblue;
}
.parent{
    display: grid;
    grid-template-columns: repeat(18 , 25px);
    grid-template-rows: repeat(21 , 25px);
    border: 3px solid black;
    width: 450px;
    height: 525px;
    border-radius: 30px;
    background-color: #051118;
}
.numbersParent{
    align-content: start;
    grid-column: 1/13;
    grid-row: 5/22;
    display: flex;
    gap: 5px;
    width: 325px;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid black;
    border-right: none;
    border-bottom-left-radius: 20px;
}
h1{
    color: white;
}
.sum{
    display: grid;
    grid-column: 1/19;
    grid-row: 1/5;
    grid-template-rows: repeat(4 , 25px);
    grid-template-columns: repeat(18 , 25px);
    background-color: rgba(0, 32, 128, 0.266);
    border: 5px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.numbers{
    color: white;
    background-color: rgba(128, 128, 128, 0.655);
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 10px;
}
#zero{
    width: 200px;
}
#reset{
    width: 100px;
}
.mathematicalFunctions{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 5/22;
    grid-column: 14/19;
    border: 5px solid black ;
    border-bottom-right-radius: 30px;
    flex-direction: column;
    gap: 10px;
}
.mathFunctions{
    background-color: rgba(254, 254, 21, 0.444);
    width: 100px;
    height: 100px;
    border: 1px solid orange;
    border-radius: 50%;
}
.equals{
    height: 85px;
    width: 85px;
    border: none;
    border-radius: 50%;
    background-color: rgba(254, 254, 21, 0.444);
    grid-row: 1/5;
    grid-column: 15/18;
}
#numberDisplay{
    grid-row: 2/4;
    grid-column: 3/15;
}

@media screen and(max-width: 600px) {
    .parent{
        grid-template-columns: repeat(18 , 20px);
        grid-template-rows: repeat(21 , 20px);
    }
    .sum{
        grid-template-rows: repeat(4 , 20px);
        grid-template-columns: repeat(18 , 20px);
    }
    .numbersParent{
        width: 280px;
    }
    .mathFunctions{
        grid-row: 5/19;
        grid-column: 14/19;
    }
}